DB_HOST=localhost
DB_NAME=log_management
DB_USER=postgres
DB_PASSWORD=your_database_password_here
DB_PORT=5432
TOTAL_LOGS=1000000
BATCH_SIZE=5000
SECRET_KEY=replace_with_a_long_random_secret
LIVE_BATCH_SIZE=50
LIVE_INTERVAL_SECONDS=2
LIVE_MAX_BATCHES=0
